.VPHero .clip {
  white-space: pre;
  max-width: 600px;
}

/* Fonts */

@font-face {
  font-family: JuliaMono-Regular;
  src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

:root {
  /* Typography */
  --vp-font-family-base: "Barlow", "Inter var experimental", "Inter var",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: JuliaMono-Regular, monospace;
}

/* Disable contextual alternates (kind of like ligatures but different) in monospace, 
   which turns `/>` to an up arrow and `|>` (the Julia pipe symbol) to an up arrow as well. */
.mono-no-substitutions {
  font-family: "JuliaMono-Light", monospace;
  font-feature-settings: "calt" off;
}

.mono-no-substitutions-alt {
  font-family: "JuliaMono-Light", monospace;
  font-variant-ligatures: none;
}

pre,
code {
  font-family: "JuliaMono-Light", monospace;
  font-feature-settings: "calt" off;
}

/* Colors */

:root {
  --julia-blue: #4063d8;
  --julia-purple: #9558b2;
  --julia-red: #cb3c33;
  --julia-green: #389826;

  --vp-c-brand: #40a52f;
  --vp-c-brand-light: #3dd027;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: #212425;
  --vp-tip-bg: rgb(254, 254, 254);
  /* Greens */
  --vp-dark-green: #155f3e; /* Main accent green */
  --vp-dark-green-dark: #2b855c;
  --vp-dark-green-light: #42d392;
  --vp-dark-green-lighter: #35eb9a;
  --vp-dark-green-dimm: #2e3834;

  /* Complementary Colors */
  --vp-dark-gray: #1e1e1e;
  --vp-dark-gray-soft: #2a2a2a;
  --vp-dark-gray-mute: #242424;
  --vp-light-gray: #d1d5db;

  /* Text Colors */
  --vp-dark-text: #e5e5e5; /* Primary text color */
  --vp-dark-subtext: #c1c1c1; /* Subtle text */

  /* Backgrounds */
  --vp-dark-bg: #121212; /* Main background */
  --vp-dark-bg-alt: #1a1a1a; /* Alternative background */
  --vp-dark-bg-dimm: #101010;

  /* Borders */
  --vp-dark-border: #3b8a65;
  /* custom tip */
  --vp-custom-block-tip-border: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-tip-bg);
  /* button */
  --vp-button-brand-border: var(--vp-dark-green-dark);
  --vp-button-brand-bg: var(--vp-dark-green-dark);
  --vp-button-brand-hover-border: var(--vp-dark-green-dark);
  --vp-button-brand-hover-bg: var(--vp-dark-green);
  --vp-button-brand-active-border: var(--vp-dark-green-light);
  --vp-button-brand-active-bg: var(--vp-dark-green);
}

:root.dark {
  /* custom tip */
  --vp-custom-block-tip-border: var(--vp-dark-green-dark);
  --vp-custom-block-tip-text: var(--vp-dark-subtext);
  --vp-custom-block-tip-bg: var(--vp-dark-gray-mute);
}

/* Button */
:root.dark {
  --vp-button-brand-border: var(--vp-dark-green-light);
  --vp-button-brand-text: var(--vp-dark-text);
  --vp-button-brand-bg: var(--vp-dark-green);
  --vp-button-brand-hover-border: var(--vp-dark-green-lighter);
  --vp-button-brand-hover-text: var(--vp-dark-text);
  --vp-button-brand-hover-bg: var(--vp-dark-green-dark);
  --vp-button-brand-active-border: var(--vp-dark-green-light);
  --vp-button-brand-active-text: var(--vp-dark-text);
  --vp-button-brand-active-bg: var(--vp-dark-green);
}

/* Typography */
:root.dark {
  --vp-dark-link: var(--vp-dark-green-lighter);
  --vp-dark-link-hover: var(--vp-dark-green-light);
}

/* Hero Section */
:root.dark {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--julia-purple) 15%,
    var(--vp-dark-green-light),
    var(--vp-dark-green)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-dark-green) 30%,
    var(--vp-dark-green-light),
    var(--vp-dark-gray) 30%
  );
  --vp-home-hero-image-filter: blur(56px);
}

.dark {
  --vp-c-brand-1: var(--vp-dark-green-light);
  --vp-c-brand-2: var(--vp-dark-green-lighter);
  --vp-c-brand-3: var(--vp-dark-green);
}

/* Component: Home */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #9558b2 30%,
    #cb3c33
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #9558b282 30%,
    #3798269a 30%,
    #cb3d33e3
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/* Component: Algolia */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/* Component: MathJax */

mjx-container > svg {
  display: block;
  margin: auto;
}

mjx-container {
  padding: 0.5rem 0;
}

mjx-container {
  display: inline;
  margin: auto 2px -2px;
}

mjx-container > svg {
  margin: auto;
  display: inline-block;
}

/* Component: Docstring Custom Block */

.jldocstring.custom-block {
  border: 1px solid var(--vp-c-gray-2);
  color: var(--vp-c-text-1);
}

.jldocstring.custom-block summary {
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  margin: 0 0 8px;
}
.jldocstring.custom-block summary a {
  pointer-events: none;
}
