name: CI (LuxLib)
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/CommonCI.yml"
      - "lib/LuxLib/**"
      - ".github/workflows/CI_LuxLib.yml"
      - "lib/LuxTestUtils/**"
      - "lib/LuxCore/**"
      - "lib/MLDataDevices/**"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        test_group:
          - "common"
          - "normalization"
          - "misc"
        blas_backend:
          - "default"
        loopvec:
          - "true"
        include:
          - test_group: "common"
            blas_backend: "default"
            loopvec: "false"
          - test_group: "misc"
            blas_backend: "default"
            loopvec: "false"
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/LuxLib"
      test_args: "BACKEND_GROUP=cpu LUXLIB_TEST_GROUP=${{ matrix.test_group }} LUXLIB_BLAS_BACKEND=${{ matrix.blas_backend }} LUXLIB_LOAD_LOOPVEC=${{ matrix.loopvec }}"

  downgrade:
    strategy:
      fail-fast: false
      matrix:
        test_group:
          - "common"
          - "normalization"
          - "misc"
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/LuxLib"
      downgrade_testing: true
      local_dependencies: "lib/LuxCore,lib/MLDataDevices"
      local_test_dependencies: "lib/LuxTestUtils,lib/MLDataDevices"
      test_args: "BACKEND_GROUP=cpu LUXLIB_TEST_GROUP=${{ matrix.test_group }} LUXLIB_BLAS_BACKEND=default LUXLIB_LOAD_LOOPVEC=true"
