name: CI (LuxCUDA)
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/CommonCI.yml"
      - "lib/LuxCUDA/**"
      - ".github/workflows/CI_LuxCUDA.yml"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  downgrade:
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/LuxCUDA"
      downgrade_testing: true

  test:
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/LuxCUDA"
