name: CI (LuxCore)
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/CommonCI.yml"
      - "lib/LuxCore/**"
      - ".github/workflows/CI_LuxCore.yml"
      - "lib/MLDataDevices/**"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.12"
      project: "lib/LuxCore"

  downgrade:
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/LuxCore"
      downgrade_testing: true
      local_test_dependencies: "lib/MLDataDevices"
