name: CI (LuxLib)
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/CommonCI.yml"
      - "lib/LuxLib/**"
      - ".github/workflows/CI_LuxLib.yml"
      - "lib/LuxTestUtils/src/**"
      - "lib/LuxTestUtils/ext/**"
      - "lib/LuxCore/src/**"
      - "lib/LuxCore/ext/**"
      - "lib/MLDataDevices/src/**"
      - "lib/MLDataDevices/ext/**"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        test_group:
          - "common_ops"
          - "normalization"
          - "others"
        blas_backend:
          - "default"
        loopvec:
          - "true"
        include:
          - test_group: "common_ops"
            blas_backend: "default"
            loopvec: "false"
          - test_group: "others"
            blas_backend: "default"
            loopvec: "false"
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.12"
      project: "lib/LuxLib"
      test_args: "--BACKEND_GROUP=cpu --BLAS_BACKEND=${{ matrix.blas_backend }} --LOOP_VECTORIZATION=${{ matrix.loopvec }} ${{ matrix.test_group }}"

  downgrade:
    strategy:
      fail-fast: false
      matrix:
        test_group:
          - "common_ops"
          - "normalization"
          - "others"
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/LuxLib"
      downgrade_testing: true
      local_dependencies: "lib/LuxCore,lib/MLDataDevices"
      local_test_dependencies: "lib/LuxTestUtils,lib/MLDataDevices"
      test_args: "--BACKEND_GROUP=cpu --BLAS_BACKEND=default --LOOP_VECTORIZATION=true ${{ matrix.test_group }}"
