name: CI (MLDataDevices)
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/CommonCI.yml"
      - "lib/MLDataDevices/**"
      - ".github/workflows/CI_MLDataDevices.yml"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        group:
          - cpu
          - opencl
          - reactant
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.12"
      project: "lib/MLDataDevices"
      test_args: "BACKEND_GROUP=${{ matrix.group }}"
      os: ${{ matrix.os }}

  downgrade:
    strategy:
      fail-fast: false
      matrix:
        group:
          - cpu
          - opencl
          - reactant
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/MLDataDevices"
      downgrade_testing: true
      test_args: "BACKEND_GROUP=${{ matrix.group }}"
