name: CI (WeightInitializers)
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/CommonCI.yml"
      - "lib/WeightInitializers/**"
      - ".github/workflows/CI_WeightInitializers.yml"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.12"
      project: "lib/WeightInitializers"
      test_args: "BACKEND_GROUP=cpu"

  downgrade:
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.11"
      project: "lib/WeightInitializers"
      downgrade_testing: true
      test_args: "BACKEND_GROUP=cpu"
