name: Code Quality Check

on: [pull_request]

jobs:
  code-style:
    name: Format Suggestions
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/julia-format@v4
        with:
          version: '1'

  typos-check:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6
      - name: Check spelling
        uses: crate-ci/typos@v1.42.0
